<div class="reviews-list {{ __SELF__.width100 ? 'reviews-list-100' : null }}">
   {% if __SELF__.reviews %}
      <ul class="reviews-list-body">
         {% for item in __SELF__.reviews %}
         <li class="reviews-list-item">
            <div class="review-name-block">
                <div class="review-name">{{ item.name }}</div>
               
               <div class="review-rating">
                  {% for i in 1..5 %}
                     <svg width="20" height="20" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="star" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" class="svg-inline--fa fa-star fa-w-18 fa-2x"><path {% if item.rating >= i %} fill="#ffcc00"{% else %} fill="#eee"{% endif %} d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"></path></svg>
                  {% endfor %}
               </div>

               <span class="review-date">{{ item.date ? item.date|date_modify("+10 hours")|date('d.m.Y') : item.created_at|date('d.m.Y') }}</span> 
            </div>
            <div class="review-text">{{ item.text }}</div> 
            <div class="review-image-body">
               {% for image in item.files %}
                  {% if image.content_type|slice(0, 5) == 'image' %}
                     <a href="{{ image.path }}" class="review-image lightzoom">
                        <img src="{{ image.thumb(120, 120, {'mode':'crop'}) }}" alt="{{ image.file_name }}" title="{{ image.file_name }}">
                     </a>
                  {% endif %}
               {% endfor %}
            </div>
            {% if item.reply %}
               <div class="review-reply">
                  <i>Официальный ответ компании:</i>
                  <p> {{ item.reply }}</p>
               </div>
            {% endif %}
         </li>
         {% endfor %}
      </ul>
   {% endif %}
   {{ __SELF__.reviews.render|raw }}
</div>
